<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGt3IRi9z8ug3cihG38q7XI7I1HzWmIuI</string>
	<key>GCM_SENDER_ID</key>
	<string>439540108756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zeroPacking</string>
	<key>PROJECT_ID</key>
	<string>dtd-packing</string>
	<key>STORAGE_BUCKET</key>
	<string>dtd-packing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439540108756:ios:0e2f57a138bdf350a95a41</string>
</dict>
</plist>